.Container {
  text-align: center;
  height: 95vh;
  width: 400px;
  box-shadow: 0px 0px 10px 0px black, 0px 0px 1px 0px inset white;
  overflow: hidden;
  border-radius:20px;
}
.Container h1 {
  font-family: "Courier New";
}
@media screen and (max-width: 325px) {
    #main ul li{
        font-size: 10px;
        margin-top: 5px;
    }
    #main ul li div{
       margin-top: 5px;
    }
}
body {
  background-color: rgb(38, 29, 71);
  color: white;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 13px;
}
#form input {
  border: none;
  height: 40px;
  border: 1px solid black;
  border-radius: 30px;
  text-align: center;
}

/* #form{
    margin-top:70px;
    } */

#main ul li {
  margin-right: 25px;
  margin-bottom: 25px;
  list-style-type: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#main ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  top: 20px;
}

#main h2 {
  position: relative;
  top: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#main button {
  height: 35px;
  width: 100px;
  background-color: blueviolet;
  border: none;
  box-shadow: 0px 0px 10px 1px;
}

#main button a {
  color: white;
  text-decoration: none;
}
#form button {
  background-color: blueviolet;
  border: none;
  color: white;
  height: 24px;
  box-shadow: 0px 0px 5px 1px black;
  border-radius: 20px;
}
